<h2>You've saved <%= @savings_calculator.savings.format %></h2>

<%= link_to 'Add new commute gear', new_commute_gear_path %>

<ul>
<% @activities.each do |run| %>
  <li>
    <%= run.id %>
    <%= run.name %>
    <%= run.distance_in_miles.round(2) %>
    <%= (run.elapsed_time.to_f / 60).round(2) %>
    <%= run.start_latlng %>
    <%= run.end_latlng %>
  </li>
<% end %>
</ul>

<%= @time_cost %>
